
img{
    width: 210px;
    border: 2px solid;
    border-color: lightgrey;

}
.nav-imgs{
    display: flex;
    justify-content: space-evenly;
}

.footer-imgs{
    display: flex;
    justify-content: space-evenly;
}
